## Mars Mission Web Scrape

In [2]:
# Dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

import pymongo

#### NASA Mars News

In [18]:
# Set up splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# Visit webpage and scrape the page
url = "https://redplanetscience.com/"
browser.visit(url)
html = browser.html
soup = bs(html, "html.parser")

# Get the news
news = soup.find('div', id = 'news')

news_title = news.find_all('div', class_='content_title')[0].text
news_teaser = news.find_all('div', class_='article_teaser_body')[0].text

print(news_title)
print(news_teaser)

# Close the browser
browser.quit()

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\skim3\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

Alabama High School Student Names NASA's Mars Helicopter
Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.

#### Space Image

In [29]:
# Set up splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# Visit webpage and scrape the page
url = "https://spaceimages-mars.com/"
browser.visit(url)
html = browser.html
soup = bs(html, "html.parser")

# Get the image
space_img = soup.find('a', class_='showimg')

featured_image_url = f"{url}{space_img['href']}"

print(featured_image_url)

# Close the browser
browser.quit()

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\skim3\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

https://spaceimages-mars.com/image/featured/mars3.jpg

#### Mars Facts Tabulation

In [31]:
# Get tabular data from webpage
url = "https://galaxyfacts-mars.com/"
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [32]:
# Convert table to a datframe
mars_df = tables[0]
mars_df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [33]:
# Convert dataframe to an HTML string
mars_html_table = mars_df.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
# Clean new line characters

In [ ]:
# Get the min avg temp
min_temp = avg_temps.find_all('strong')[0].text

# Get the max avg temp
max_temp = avg_temps.find_all('strong')[1].text

# BONUS: Find the src for the sloth image
relative_image_path = soup.find_all('img')[2]["src"]
sloth_img = url + relative_image_path

# Store data in a dictionary
costa_data = {
    "sloth_img": sloth_img,
    "min_temp": min_temp,
    "max_temp": max_temp
}